body {
    padding-top: 70px;
    padding-bottom: 35px;
    background-color: #e9ebee;
    color: #003b77;
    /*background-image: url(../imagens/bg-body.jpg);*/
}

.ui-growl{
    position:fixed;
    top:70px;
}

#header {
    background-color: #3b5998;
    color: white;
    border-bottom: 1px solid #29487d;
    color: #fff;
}

#footer {
    background-color: #3b5998;
    color: white;
    border-bottom: 1px solid #29487d;
    color: #fff;
}

#logo {
    margin-top: 5px;
    height: 40px;
    width: 50px;
    margin-bottom: 5px;
}

#titleLogin {
    color: #365899;
    font-weight: 200;
    font-size: 4.0rem;
    line-height: 2.5rem;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 30px 10px 30px 10px;
    background-color: #FFF;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3),0 0px 10px 0 rgba(0,0,0,0.25) !important;
    /*
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    */
    /*
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC));
    background: -moz-linear-gradient(top, #FFFFFF, #CCCCCC);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#CCCCCC');           
    */
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}